---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Política de Privacidade</h1>
    <p>
      Esta é a nossa política de privacidade. Ela descreve como coletamos, usamos e protegemos suas informações pessoais.
    </p>
    <p>
      Nós levamos a privacidade dos nossos usuários muito a sério e estamos comprometidos em proteger suas informações pessoais.
    </p>
    <p>
      Caso tenha alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco.
    </p>
    <p>
      Esta política pode ser atualizada periodicamente, e recomendamos que você a revise regularmente para se manter informado sobre como estamos protegendo suas informações.
    </p>
    <p>
      Ao usar nosso site, você concorda com os termos desta política de privacidade.
    </p>    
</Layout>