---
const { text, class: className = '' } = Astro.props;
---

<button
  class={`rounded-xl font-playfair ont-playfair font-bold px-6 py-3 flex items-center h-12 text-base w-fit ${className}`}
>
  {text}
</button>
