---
const { text, class: className = '' } = Astro.props;
---

<button
  class={`rounded-xl font-playfair font-bold px-6 py-3 flex items-center h-12 text-base w-fit cursor-pointer hover:opacity-80 ${className}`}
>
  {text}
</button>
