---
const { text } = Astro.props;
---

      <button class="bg-neutral-0 text-neutral-800 rounded-xl font-playfair font-bold px-6 py-3 flex items-center h-12 text-base w-fit">
            {text}
      </button>