---
import featuredCases from "../data/featuredCases.json";
import FeaturedCasesCard from "./featuredCasesCard.astro";
---

<section id="featured-cases" class="bg-neutral-0 max-w-[1420px] mx-auto">
  <div class="flex flex-col gap-6 lg:gap-16 w-full py-24 px-6">
    <div class="flex flex-col lg:w-[55%]">
      <p class="font-poppins text-base text-neutral-600 uppercase">
        EXPERIÊNCIA
      </p>
      <h3 class="font-playfair font-medium text-[2rem] lg:text-6xl mb-6">
        {featuredCases.title}
      </h3>
      <p class="text-xl">{featuredCases.description}</p>
    </div>
    <div class="text-lg lg:text-xl font-poppins flex flex-col gap-6">
      <div class="space-y-6">
        <FeaturedCasesCard />
      </div>
    </div>
  </div>
</section>
