---
import Image from "astro/components/Image.astro";

const { icon, title, description } = Astro.props;

const allIcons = await Astro.glob('../../public/icons/*.svg');

const dynamicIconModule = allIcons.find(module => {
  const fileName = module.default.src.split('/').pop().split('.')[0];
  return fileName === icon;
});

const finalIconSrc = dynamicIconModule ? dynamicIconModule.default : ''; 

import buildingFallback from '../../public/icons/building.svg';
---

<div class="bg-neutral-0 p-8 rounded-lg">
  <Image alt='Icone de empresa' src={finalIconSrc || buildingFallback} class='size-6 mb-6'/>
  <h1 class="text-xl font-poppins mb-4">
    {title}
  </h1>
  <p class="font-poppins text-sm">
    {description}
  </p>
</div>