---
import welcomeData from "../data/welcomeContent.json";
import "../styles/global.css";
import Button from "./button.astro";
import Header from "./Header.astro";
---

<div
  id="welcome"
  class="bg-[url('./public/images/bg.png')] w-full h-[900px] bg-no-repeat bg-cover bg-center overflow-hidden"
>
  <Header background={false} />
  <div
    id="hero-content"
    class="max-w-[1280px] mx-auto pt-24 px-4 md:px-0 text-white flex flex-col justify-center h-[calc(900px-250px)]"
  >
    <h1
      class="text-4xl md:text-6xl font-bold font-playfair mb-4 max-w-2xl leading-tight font-medium"
    >
      {welcomeData.title}
    </h1>
    <p
      class="text-lg md:text-xl font-playfair mb-8 max-w-xl font-poppins text-4"
    >
      {welcomeData.description}
    </p>
    <Button
      text={welcomeData.button_text}
      class="bg-neutral-100 text-neutral-800"
      href={`https://wa.me/5518997845088`}
    />
  </div>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</div>
