---
import Image from "astro/components/Image.astro";
import fallbackIcon from "../../../public/icons/dot.svg";
import "../../styles/global.css";
const { icon, description } = Astro.props;
const allIcons = await Astro.glob("../../../public/icons/*.svg");
const dynamicIconModule = allIcons.find((module) => {
  const fileName = module.default.src.split("/").pop().split(".")[0];
  return fileName === icon;
});
const finalIconSrc = dynamicIconModule ? dynamicIconModule.default : "";
---

<div class="flex items-center gap-4 text-neutral-100 font-poppins">
  <Image src={finalIconSrc || fallbackIcon} alt="Ãcone" class="w-6 h-6" />
  <p class="text-base lg:text-lg">{description}</p>
</div>
